@inherits LayoutComponentBase

<main class="container">
    <div class="header">
        <h3 class="text-muted">Your application (Blazor.Server)</h3>
    </div>

    @Body

    <footer>
        <p>&copy; Your company @DateTime.UtcNow.Year</p>
    </footer>

</main>
